<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="Chrome=1,IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <title></title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="canonical" href="<%= $app_settings['url'] %>">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
